In [1]:
# import statements for all of the packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Loading professional data and printing a few lines 
df_professionals = pd.read_csv('dataset/professionals.csv')
df_professionals.head()

,professionals_id,professionals_location,professionals_industry,professionals_headline,professionals_date_joined
0,9ced4ce7519049c0944147afb75a8ce3,NaN,NaN,NaN,2011-10-05 20:35:19 UTC+0000
1,f718dcf6d2ec4cb0a52a9db59d7f9e67,NaN,NaN,NaN,2011-10-05 20:49:21 UTC+0000
2,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000
3,977428d851b24183b223be0eb8619a8c,"Boston, Massachusetts",NaN,NaN,2011-11-09 20:39:29 UTC+0000
4,e2d57e5041a44f489288397c9904c2b2,NaN,NaN,NaN,2011-12-10 22:14:44 UTC+0000

In [3]:
# Loading questions data and printing a few lines 
df_questions = pd.read_csv('dataset/questions.csv')
df_questions.head()

,questions_id,questions_author_id,questions_date_added,questions_title,questions_body
0,332a511f1569444485cf7a7a556a5e54,8f6f374ffd834d258ab69d376dd998f5,2016-04-26 11:14:26 UTC+0000,Teacher career question,What is a maths teacher? what is a ma...
1,eb80205482e4424cad8f16bc25aa2d9c,acccbda28edd4362ab03fb8b6fd2d67b,2016-05-20 16:48:25 UTC+0000,I want to become an army officer. What can I d...,I am Priyanka from Bangalore . Now am in 10th ...
2,4ec31632938a40b98909416bdd0decff,f2c179a563024ccc927399ce529094b5,2017-02-08 19:13:38 UTC+0000,Will going abroad for your first job increase ...,I'm planning on going abroad for my first job....
3,2f6a9a99d9b24e5baa50d40d0ba50a75,2c30ffba444e40eabb4583b55233a5a4,2017-09-01 14:05:32 UTC+0000,To become a specialist in business management...,i hear business management is a hard way to ge...
4,5af8880460c141dbb02971a1a8369529,aa9eb1a2ab184ebbb00dc01ab663428a,2017-09-01 02:36:54 UTC+0000,Are there any scholarships out there for stude...,I'm trying to find scholarships for first year...

In [4]:
# Loading answers data and printing a few lines 
df_answers = pd.read_csv('dataset/answers.csv')
df_answers.head()

,answers_id,answers_author_id,answers_question_id,answers_date_added,answers_body
0,4e5f01128cae4f6d8fd697cec5dca60c,36ff3b3666df400f956f8335cf53e09e,332a511f1569444485cf7a7a556a5e54,2016-04-29 19:40:14 UTC+0000,<p>Hi!</p>\n<p>You are asking a very interesti...
1,ada720538c014e9b8a6dceed09385ee3,2aa47af241bf42a4b874c453f0381bd4,eb80205482e4424cad8f16bc25aa2d9c,2018-05-01 14:19:08 UTC+0000,<p>Hi. I joined the Army after I attended coll...
2,eaa66ef919bc408ab5296237440e323f,cbd8f30613a849bf918aed5c010340be,eb80205482e4424cad8f16bc25aa2d9c,2018-05-02 02:41:02 UTC+0000,"<p>Dear Priyanka,</p><p>Greetings! I have answ..."
3,1a6b3749d391486c9e371fbd1e605014,7e72a630c303442ba92ff00e8ea451df,4ec31632938a40b98909416bdd0decff,2017-05-10 19:00:47 UTC+0000,<p>I work for a global company who values high...
4,5229c514000446d582050f89ebd4e184,17802d94699140b0a0d2995f30c034c6,2f6a9a99d9b24e5baa50d40d0ba50a75,2017-10-13 22:07:33 UTC+0000,I agree with Denise. Every single job I've had...

In [12]:
df_professionals['professionals_industry'] = df_professionals['professionals_industry'].str.lower()

In [13]:
unique_industries = pd.Series(df_professionals['professionals_industry'].unique().astype(str))
unique_industries

0                                                     nan
1                                          special events
2                                  education, tech, media
3                                        renewable energy
4                                hospitality & consulting
5                                             engineering
6                                                software
7                                                  mobile
8               healthcare, pharmaceuticals, life science
9                                                      ip
10           business development, electrical engineering
11                               environmental consulting
12                                           software/web
13                         biotechnology / pharmaceutical
14                                           tech / legal
15                                                finance
16                                                tech pr
17                   not for profit and museum management
18                                                nursing
19                                               internet
20                                                 design
21                                 hospital & health care
22                       professional training & coaching
23                              marketing and advertising
24                                      computer software
25                       venture capital & private equity
26                                architecture & planning
27                                     financial services
28                                  international affairs
29                                       higher education
                              ...
2319                       training - design and delivery
2320                        it hardware/sofware solutions
2321                                      education. law.
2322                                    law, human rights
2323                 graphic design - illustration artist
2324                      licensed school counseling k-12
2325                                      sanidad vegetal
2326                                               police
2327                  fine art - archaeology _ mosaic art
2328                              guidance and counseling
2329                              health, youth counselor
2330                                             at&t ats
2331                          consulting engineering / it
2332                                      english teacher
2333       research, clinical laboratory, medical writing
2334                                      telcommuncation
2335                                     cloud networking
2336        technology, telecommunications, entertainment
2337    content marketing, technology, information tec...
2338                         telecommunication/technology
2339                   telecommunications & entertainment
2340                telecommunications, media, technology
2341                       communications & entertainment
2342                                           care giver
2343                       technology product development
2344                                telecom/entertainment
2345                         technology and entertainment
2346                                          dev sec ops
2347             electrical engineering computer software
2348                           mobility and entertainment
Length: 2349, dtype: object

In [17]:
unique_industries[unique_industries.str.contains('computer')==True]

24                                      computer software
67                                         computer games
103                    computer science, machine learning
114                                     computer hardware
120                           computer & network security
143                                   computer networking
213                  computer software (formerly biology)
226                                      computer science
285                                     computer_software
330                computer software/media/communications
373                         video games/computer software
430                                 computer : all fields
435     video games, architectural visualization, comp...
472                      computer networking/ video games
499                                  computer engineering
501                     computer networking, broadcasting
514                         computer software and systems
515                           computer and tabletop games
563                   electrical and computer engineering
577                         computer and network security
583                digital photography - computer graphic
615                                    computer solutions
622                                   computer technology
624             computer games, visual arts, 3d animation
629                                       computer gaming
642        internet security software & computer hardware
661                                        dell computers
675     lean six sigma, computer hardware, financial s...
691                            computer solutions support
707          computer hardware & learning and development
                              ...
1060                                    computer firmware
1125                            computer software, design
1159                        computer software, non-profit
1221                          high tech/computer software
1318                 electronics and computer engineering
1337                         computer information systems
1352               linux technology & computer technician
1406              computer software, security, education,
1427                           computer software/hardware
1551                              computer software sales
1584        computer software, publishing, manaufacturing
1589           computer software for workforce management
1706                            computer hardware/storage
1729              computer software, education technology
1734                          computer software, internet
1753                           computer hardware/software
1836           information technology, computers, servers
1893                                 computer programming
1929        computer and network security,c++,java,python
1935                     computer software (project mgmt)
1955                               computer manufacturing
1958                                         computer oem
1993                         computer engineering/science
2056            computer software / professional services
2094                                     computer hadware
2100                               computer science, tech
2114                                    computer networks
2211                management,computer software,analysis
2314    biotechnology, neuroscience, computer engineering
2347             electrical engineering computer software
Length: 74, dtype: object

In [20]:
industries = unique_industries.copy()

def merge_duplicates(industry):
    count = 0
    for i in industries:
        if industry in i:
            count = count + 1
        if count == 2:
            industries.drop(industries[industries == i].index, inplace=True)
            count = 1

In [23]:
unique_industries.apply(merge_duplicates)
industries

0                                                     nan
1                                          special events
2                                  education, tech, media
3                                        renewable energy
4                                hospitality & consulting
5                                             engineering
6                                                software
7                                                  mobile
8               healthcare, pharmaceuticals, life science
9                                                      ip
18                                                nursing
19                                               internet
20                                                 design
22                       professional training & coaching
23                              marketing and advertising
30                                         consumer goods
32                                     investment banking
33                                             publishing
37                                               research
40                    public relations and communications
42                                              insurance
46                                             accounting
48                                              judiciary
51                            civic & social organization
52                                3d printing & ecommerce
54                                           new ventures
55                                        events services
56                               renewables & environment
64                                      airlines/aviation
65                                              cosmetics
                              ...
2162                                 ingeniería biomédica
2166                                       not applicable
2167                                         illustration
2171    dental hygiene and preventive oral care specia...
2173                                         socialworker
2179                                                  utd
2199                                         entertaiment
2205                                             cannabis
2214                                       metal products
2218                                                 govt
2223                                               acting
2237                                                  esl
2241                                          mathematics
2243                             training and development
2248                                            aerosapce
2255                                   propulsion systems
2265                                     arco gas station
2267                                              theater
2272                 www.linkedin.com/in/jyotsna-penumaka
2274                                             children
2280                                       all industries
2285                                         receptionist
2291                                            dont know
2294                                       masters degree
2303                                        commuications
2325                                      sanidad vegetal
2326                                               police
2335                                     cloud networking
2342                                           care giver
2346                                          dev sec ops
Length: 350, dtype: object

In [25]:
temp_prof_industry = df_professionals['professionals_industry'].astype(str).copy()

In [28]:
def update_industries(industry):
    global temp_prof_industry
    def check_industry(i):
        if industry in i:
            return industry
        else:
            return i
    temp_prof_industry = temp_prof_industry.apply(check_industry)

In [29]:
for industry in temp_prof_industry:
    update_industries(industry)

temp_prof_industry

0                   nan
1                   nan
2                   nan
3                   nan
4                   nan
5                   nan
6                   nan
7                   nan
8                   nan
9                   nan
10                  nan
11                  nan
12                  nan
13                  nan
14                  nan
15       special events
16                  nan
17                  nan
18                  nan
19                  nan
20                  nan
21                  nan
22                  nan
23                  nan
24                  nan
25                  nan
26                  nan
27                  nan
28                  nan
29                  nan
              ...
28122       dev sec ops
28123              at&t
28124     communication
28125            design
28126     communication
28127     communication
28128     communication
28129          software
28130           telecom
28131     communication
28132     communication
28133     communication
28134               nan
28135              film
28136     communication
28137     communication
28138             media
28139              tech
28140     communication
28141     communication
28142     communication
28143              tech
28144           telecom
28145     communication
28146           telecom
28147             media
28148     communication
28149          engineer
28150     communication
28151     entertainment
Name: professionals_industry, Length: 28152, dtype: object

In [30]:
temp_prof_industry.value_counts()

nan                                                   3347
communication                                         3245
it                                                    2872
tech                                                  2667
education                                             1650
software                                              1352
rn                                                     849
accounting                                             809
engineer                                               660
advertising                                            552
law                                                    454
medical                                                426
research                                               410
consulting                                             409
human resource                                         404
services                                               396
media                                                  392
design                                                 371
health                                                 345
computer                                               343
entertainment                                          333
pharma                                                 243
aviation                                               204
energy                                                 199
game                                                   191
retail                                                 188
aerospace                                              179
music                                                  179
art                                                    179
legal                                                  170
                                                      ...
sjsu                                                     1
ingeniería biomédica                                     1
dev sec ops                                              1
saas                                                     1
 call center                                             1
dental hygiene and preventive oral care specialist       1
dairy                                                    1
www.linkedin.com/in/jyotsna-penumaka                     1
jd ma bs                                                 1
self employed                                            1
criminology                                              1
glass, ceramics and concrete                             1
verizon enterprise solutions                             1
server hardware                                          1
police                                                   1
mathematics                                              1
applied behavior analysis                                1
events, broadcast, television                            1
phlebotomist                                             1
none                                                     1
food/vending                                             1
power generation                                         1
civic_and_social_organization                            1
coaching & training                                      1
pulp and paper, nylon                                    1
pt opd                                                   1
fire/ems                                                 1
economic analysis                                        1
higher ed                                                1
urgent care                                              1
Name: professionals_industry, Length: 377, dtype: int64

In [31]:
industry_prof = list()
def industry_prof_map(industry):
    global industry_prof
    industry_prof.append(df_professionals[df_professionals['professionals_industry'].str.contains(industry)==True]['professionals_id'])

In [ ]:
temp_prof_industry.apply(industry_prof_map)

In [ ]:
industry_prof

In [ ]:
df_industry_prof_map = pd.DataFrame(list(zip(temp_prof_industry, industry_prof)))

In [ ]:
df_questions_test = df_questions.tail(5000)
df_questions = df_questions.head(len(df_questions)-5000)
df_questions_test